*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

ul a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    
}



